* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

li {
  list-style-type: none; }
  li a {
    text-decoration: none;
    color: black; }

a:link, a:visited, a:active {
  text-decoration: none; }

a {
  color: black; }

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #C2ABAB;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden; }
  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms; }
  button:hover {
    color: #e8e8e8; }
    button:hover::before {
      width: 100%; }

.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center; }
  .header .navBar {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    margin-top: 20px; }
  .header .logo {
    height: 70px;
    padding: 10px; }
  .header .icons img {
    align-items: center;
    padding: 0 10px; }
  .header .navBar li {
    padding: 0 10px; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%; }

.footerMain {
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
  margin-top: 50px; }
  .footerMain .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footerMain .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footerMain .div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footerMain .div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footerMain h2 {
    margin-bottom: 30px;
    color: black; }
  .footerMain li {
    margin-top: 10px; }

.emailForm {
  margin-bottom: 10px;
  height: 40px;
  line-height: 28px;
  padding: 10px 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease; }
  .emailForm::placeholder {
    color: #8a8a8b; }
  .emailForm:focus, .emailForm:hover {
    outline: none;
    border-color: #C2ABAB;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1); }

.main1 {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%; }
  .main1 .main1-img {
    width: 100%; }
  .main1 .main1-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    content: 200; }
  .main1 .main1-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color: white;
    content: 200; }
  .main1 .main1-3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    content: 200; }

.divLine {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.main2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 20px;
  margin-bottom: -10px; }
  .main2 .main2-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 25%;
    margin-right: 2%; }
  .main2 .main2-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 25%;
    margin-left: 2%; }
  .main2 .main2-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 25%;
    margin-left: 2%; }
  .main2 .tit {
    font-weight: 600; }

.main3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1325px;
  margin: auto;
  margin-top: 100px; }

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px; }

.tiendaMain {
  width: auto;
  height: fit-content; }
  .tiendaMain .nav {
    display: flex;
    margin-top: 20px; }
  .tiendaMain .article {
    text-align: left;
    padding-left: 40%; }
  .tiendaMain .filterImg {
    text-align: left;
    padding-left: 20px; }
  .tiendaMain .filter {
    text-align: center;
    padding-left: 30px; }
  .tiendaMain .articulos {
    position: static;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
    width: auto;
    height: 1300px;
    width: 400px; }
  .tiendaMain .articulo1 {
    position: relative;
    margin-left: 50px; }
  .tiendaMain .articulo2 {
    position: relative;
    bottom: 475px;
    left: 600px; }
  .tiendaMain .articulo3 {
    position: relative;
    bottom: 930px;
    left: 1140px; }
  .tiendaMain .articulo4 {
    position: relative;
    margin-left: 50px;
    bottom: 720px; }
  .tiendaMain .articulo5 {
    position: relative;
    margin: 0;
    bottom: 1200px;
    left: 600px; }
  .tiendaMain .articulo6 {
    position: relative;
    margin: 0;
    bottom: 930px;
    left: 1140px;
    bottom: 1680px; }
  .tiendaMain .articulos img {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    border-radius: 5%; }
  .tiendaMain .textoProd {
    text-align: center; }
  .tiendaMain .textoProd__tit {
    font-weight: bold;
    margin-bottom: 10px; }
  .tiendaMain .loQuiero {
    left: 100px;
    top: 30px; }

.aboutUs {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }
  .aboutUs h1 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px; }
  .aboutUs p {
    align-items: center;
    font-size: 20px; }
  .aboutUs .firma1 {
    margin-top: 50px;
    font-style: italic; }

.cambiosyDev {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }
  .cambiosyDev h1 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px; }
  .cambiosyDev p {
    align-items: center;
    font-size: large; }
  .cambiosyDev .firma {
    margin-top: 100px;
    margin-bottom: 100px; }

.contacto {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  background-color: #cfc8c8; }
  .contacto .buttonContacto {
    margin-top: 50px; }

@media (max-width: 768px) {
  .header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center; }
    .header .navBar {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 0 10px;
      margin-top: 20px; }
    .header .logo {
      height: 70px;
      padding: 10px; }
    .header .icons img {
      align-items: center;
      padding: 0 10px; }
    .header .navBar li {
      padding: 0 10px; } }

@media (max-width: 568px) {
  .header {
    display: flex;
    width: 568px; }
    .header .navBar {
      display: none; }
    .header .logo {
      height: 50px;
      width: 75p; }
    .header .icons img {
      align-items: right;
      padding: 0 10px; }
  .main1 .main1-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; }
  .main1 .main1-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white; }
  .main1 .main1-3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; }
  .main1 .main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50px;
    height: 50px; } }
