.footer {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.footerMain {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    margin-top: 50px;
    .div1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
    margin-bottom: 30px;
    color: black;
    }
    li {
    margin-top: 10px;
    }
}

.emailForm {
    margin-bottom: 10px;
    height: 40px;
    line-height: 28px;
    padding: 10px 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
        &::placeholder {
            color: #8a8a8b;
        }
        &:focus, &:hover {
            outline: none;
            border-color: $color-principal;
            background-color: #fff;
            box-shadow: 0 0 0 4px $color-borde-form;
    }
}
