.header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.header__navBar {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}

.header__logo {
    height: 70px;
    padding: 10px;
}

.header__navBar--icons img {
    align-items: center;
    padding: 0 10px;
}

.header__navBar li {
    padding: 0 10px;
}