.main1 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    .main1-img {
        width: 100%;
    }
    .main1-1 {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        content: 200;
    }
    .main1-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 110px;
        color: white;
        content: 200;
    }
    .main1-3 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        content: 200;
    }
}

.divLine {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main2 {
    @include prop-flex(row,wrap,center,flex-start,flex-start);
    margin-top: 20px;
    margin-bottom: -10px;
    .main2-1{
        @include prop-flex(column,wrap,center,center,center);
        max-width: 25%;
        margin-right: 2%;
    }
    .main2-2{
        @include prop-flex(column,wrap,center,center,center);
        max-width: 25%;
        margin-left: 2%;
    }
    .main2-3{
        @include prop-flex(column,wrap,center,center,center);
        max-width: 25%;
        margin-left: 2%;
    }
    .tit {
        font-weight: 600;
    }
}

.main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1325px;
    margin: auto;
    margin-top: 100px;
}
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}